.func-setting{
  display: flex;
  padding:10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .func-recharge,
  & .func-lock{
    flex:1;
    width:100%;
    min-height:300px;
  }
  & .func-lock{
    margin-top:30px;
  }
  .func-title{
    padding-bottom:15px;
    display: flex;
    border-bottom:2px solid #ddd;
    justify-content: space-between;
    color:#409EFF;
    & .func-title-btn{}
    & .func-title-txt{}
  }
}
