.manually-coin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .manually-up,
  & .manually-down {
    flex: 1;
    width: 100%;
    border: 1px solid #ddd;
  }
  & .manually-up {
    padding: 20px;
    & .manually-list{
    }
    & .manually-label{
      line-height:40px;

    }
    & .manually-address{
      margin-right:20px;
    }
    & .manually-balance{
      margin-right:20px;
    }
  }
  & .manually-handler{
    width:550px;
    display: flex;
    justify-content: space-between;
  }
  & .manually-down {
    padding:20px;
  }
}
